body{
    margin-left: 20px;
}
.chat{
    padding: 20px;
    background-color: aliceblue;
    border-radius: 16px;
    display: inline-block;
}
.msg{
    background-color: aquamarine;
    padding: 5px 15px;
    border-radius: 16px;
}