.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
h2{
    margin:0 0 16px 0;
}
.colcon{
    width: 250px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.colour{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 15px;
}

.r{
    background-color: maroon;
}
.b{
    background-color: blueviolet;
}
.g{
    background-color: teal;
}
.y{
    background-color: orange; 
}
.flash{
    background-color: white;
}
.userflash{
    background-color: green;
}